#background{
    background: rgba(0,0,0, 0.8); 
    height: 100%; 
}
#text{
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

#headingtext{
    margin-left: 20px;
    text-align: center;
    color: rgb(243, 137, 0);
}
#boldText{
    margin-top: 10px;
    display: inline;
    color: rgb(255, 255, 255);
}
.main{
    
    display: inline;
    color:aqua;
}
.homeText>li{
    list-style: none;
    margin: 15px 0px 10px 0px;
}