.imgLinkdin>img{
    display: inline;
    height: 18px;
    margin-right: 10px;    
}
.imgLinkdin>a{
    display: inline;
    margin-top: 10px;
    text-decoration: none;
    vertical-align: middle;
}
.imgGithub>img{
    display: inline;
    height: 18px;
    margin-right: 10px;  
    // background-color: white;  
}
.imgGithub>a{
    display: inline;
    margin-top: 10px;
    text-decoration: none;
    vertical-align: middle;
}
.col{
    margin: 2px;
}