#text{
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
.centerHeadings{
    text-align: center;
    color: rgb(243, 137, 0);
    text-transform: uppercase;
}

#sideHeading{
    color: aqua ;
    margin: 5px;
}
.subSideHeading{
    color: aliceblue;
    margin-left: 20px;
}